<script type="text/javascript">
  $(document).ready(function(){
    tabSelector();
  })
</script>

<div class="wrapper">
  <div class="debug row span-12-d h-10 bg-green ta-r mt--2">
    <h1 class="padt-3">ATP Personal Website</h1>
  </div>

  <div id="nav" class="debug col span-2-d h-45 mt--7 bg-green">
    <div class="debug h-10 w-10 bg-silver m-2 bd-1 ">
      <p>Profile Pic here</p>
    </div>

    <ul>
      <div><%= button_to "activity", {action: "activity"}, class: "btn mb-3" %></div>
      <div><%= button_to "projects", {action: "index", controller: "projects"}, class: "btn mb-3" %></div>
      <div><%= button_to "blog", {action: "index", controller: "blogs"}, class: "btn mb-3" %></div>
      <div><%= button_to "bio", {action: "bio"}, class: "btn mb-3" %></div>
    </ul>
  </div>

  <div id="content" class="debug col span-8-d h-33 ml-5">
    <%= render template: 'home/activity' %>
  </div>
</div>