<div class="debug row span-12-d h-10 ">
  <h1>ATP Personal Website</h1>
</div>


<div id="nav" class="debug col span-2-d h-30 ">
  <ul>
    <div><%= button_to "activity", activity_path, method: "get", class: "buttons" %></div>
    <div><%= button_to "projects", projects_path, method: "get", class: "buttons" %></div>
    <div><%= button_to "blog", blogs_path, method: "get", class: "buttons" %></div>
    <div><%= button_to "bio", bio_path, method: "get", class: "buttons" %></div>
  </ul>
</div>

<div id="content" class="debug col span-8-d h-30 ml-5">
  <%= render template: 'home/activity' %>
</div>





