<script type="text/javascript">
  $(document).ready(function(){
    tabSelector();
    activitySelector();
  })
</script>

<div class="wrapper ">

  <div class="debug container col span-3-d bg-black bd-1b h-100vh">
    <div class="debug flex-center">
      <div class="initials debug m0-a mb-1 mt-1"><a href="<%= root_path %>" class="c-white">atp</a></div>
    </div>
    <h1 class="debug clear-l c-white ta-cen span-12-d mb-1">Web Developer</h1>

    <div id="nav" class="debug span-12-d flex-center">
      <div class="d-inb mr-05"><%= button_to "Resume", {action: 'resume'}, class: "btn" %></div>
      <div class="d-inb ml-05" ><%= button_to "Contact", {action: "contact"}, class: "btn " %></div>
    </div>

    <div id="content">
      <div class="debug col clear-l mt-2 c-white pad-1 ta-cen ">
        <p>Hi, I'm Andrew.</p>

        <p>I enjoy transforming technology from being a barrier between people to a tool that creates more personal human interaction.</p>
      </div>
    </div>
  </div>

  <div class="debug col span-9-d mt-">
    <div class="debug h-30 ml-7 mt-5">
      <!-- <h2 class="c-white fs-150">Hi, I'm Andrew</h2> -->
      <div id="activity" class="d-inb"><%= button_to "Projects", {action: 'index', controller: 'projects'}, class: "btn ml-1" %></div>
      <div id="activity" class="d-inb"><%= button_to "Commits", {action: 'commits', controller: 'apis'}, class: "btn " %></div>

      <div id="activities"></div>
    </div>
  </div>

<!--   <div class="debug pieces col span-9-d mt--40 z-15">
    <div class="flute piece hide"></div>
    <div class="pouch piece hide"></div>
    <a href="/game"><div class="game piece"></div></a>
    <a href="/journal"><div class="journal piece hide"></div></a>
    <a href="/tags"><div class="tags piece"></div></a>
    <div class="travel piece hide"></div>
    <div class="coaster piece hide"></div>
    <a href="/headphones"><div class="headphones piece"></div></a>
    <a href="/ucd"><div class="ucd piece"></div></a>
    <div class="watch piece hide"></div>
  </div> -->

</div>




